* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #33d9b2;
    color:#464343;
    text-align: left;
    padding: 20px 0;
}
.header .logo{
    font-size: 2.5rem;
    color: var(--black);
}
.header .logo i{
    color: #c0392b;
}

.container {
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.captcha {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.captcha img {
    border: 1px solid #ccc;
    border-radius: 3px;
}